/*=====Import Goolge Font======*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/*=====General Setting======*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-bg: #fafafa;
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-sandybrown: hsl(28, 87%, 67%);
	--clr-coral: hsl(16, 100%, 66%);
	--clr-green: hsl(125, 72%, 38%);
}
body {
	background-color: var(--clr-bg);
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
	color: hsl(0, 4%, 43%);
}
nav {
	display: grid;
	grid-template-columns: 300px auto 300px;
	padding: 10px;
}
.logo {
	border-bottom: 2px solid var(--clr-green);
	margin: 0 auto;
	width: 700px;
}
.logo h1 {
	font-size: 2.25rem;
	letter-spacing: 5px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
.logo span {
	color: var(--clr-green);
	font-style: italic;
}
.social-icons i {
	width: 20px;
	margin: 5px;
	opacity: 50%;
}
.social-icons i {
	opacity: 100%;
	transition: opacity 0.2s ease-in-out;
}
.sub-btn a {
	display: block;
	padding: 6px;
	width: 140px;
	text-align: center;
	border: 3px solid var(--clr-green);
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 2px;
	margin: 0 auto;
}
.sub-btn a:hover {
	background-color: var(--clr-green);
	border: 2px solid var(--clr-sandybrown);
	transition: all 0.3s ease-in-out;
}

/*===========NAV SECTION======*/
.nav-bar {
	position: relative;
	text-align: center;
	grid-column: 1 / 4;
	width: 900px;
	margin: 0 auto;
}
.nav-bar a {
	display: block;
	float: left;
	padding: 15px;
	width: 150px;
	font-weight: 300;
	font-size: 0.9rem;
	box-sizing: border-box;
}
.nav-bar a.active {
	color: var(--clr-coral);
}
.underline {
	position: absolute;
	width: 150px;
	top: 35px;
	border-bottom: 2px solid hsl(125, 72%, 38%);
	transition: transform 0.3s ease-in-out;
}

.nav-bar a:hover {
	color: var(--clr-coral);
	transition: color 0.3s ease-in-out;
}
.nav-bar a:nth-child(2):hover ~ .underline {
	transform: translateX(150px);
	transition: transform 0.3s ease-in-out;
}
.nav-bar a:nth-child(3):hover ~ .underline {
	transform: translateX(300px);
	transition: transform 0.3s ease-in-out;
}
.nav-bar a:nth-child(4):hover ~ .underline {
	transform: translateX(450px);
	transition: transform 0.3s ease-in-out;
}
.nav-bar a:nth-child(5):hover ~ .underline {
	transform: translateX(600px);
	transition: transform 0.3s ease-in-out;
}
.nav-bar a:nth-child(6):hover ~ .underline {
	transform: translateX(750px);
	transition: transform 0.3s ease-in-out;
}
/*===========HERO SECTION======*/
.hero {
	display: grid;
	grid-template-columns: 50% 25% 25%;
	grid-template-rows: 300px 300px 300px;
	gap: 5px 5px;
	width: 1400px;
	margin: 0 auto;
}
.content {
	position: relative;
}
.content img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.title-filter {
	position: absolute;
	bottom: 0;
	background-color: black;
	opacity: 50%;
	width: 100%;
	height: 22%;
}
.content-title {
	position: absolute;
	font-size: 1rem;
	letter-spacing: 2px;
	bottom: 0;
	margin: 5px 10px;
	color: #fff;
}
.date {
	position: relative;
	width: 200px;
	text-align: center;
	font-size: 1.5rem;
	background-color: var(--clr-green);
	padding: 10px0px;
}
.date h3 {
	line-height: 25px;
}
.date span {
	color: var(--clr-coral);
}
.content-title h1 {
	font-size: 2rem;
}
.content-title p {
	font-size: 0.8rem;
	margin: 5px 0px;
}
.content-title a {
	color: var(--clr-sandybrown);
}
.content-title p span {
	margin: 0px 15px;
	border-left: 1px solid var(--clr-green);
}
.hero .content:nth-child(1) {
	grid-row: 1 / 3;
}
.hero .content:nth-child(4) {
	grid-row: 1 / 3;
	grid-column: 3 / 4;
}

.hero .content:nth-child(3) h1,
.hero .content:nth-child(3) h1 {
	font-size: 1rem;
}
